<a href="https://colab.research.google.com/github/roomrugee/demo/blob/master/Python_starting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **โครงสร้างภาษา Python**

In [0]:
#Simple Python Program
name =input('whatis you name? \n')
print ('Hi, %s.' %name)
print ('Welcome to Python.')

whatis you name?
Pone
Hi, Pone.
Welcome to Python.

In [0]:
#Statemennt มีหลายคำสั่งในบรรทัดเดียว
name1 = input('what is your name? \n')
print ('Hi, %s.' %name); print ('Welcome to Python.'); print ('Do you love it?')

what is your name?
Pone
Hi, Pone.
Welcome to Python.
Do you love it?

In [0]:
#Indentation and while space (if else for)
 n = int(input('Input an integer: '))
 if (n>0):
     print('x is positive number')
     print('Show number from 0 to %d' %(n-1))
else:
    print('x is\'t positive number') 
for i in range(n):
    print(i)

Input an integer: 12
x is positive number
Show number from 0 to 11
0
1
2
3
4
5
6
7
8
9
10
11

In [0]:
#Literals
a = 1
b = -1.64E3
c = True
d = "Python"
e = 'A'

In [0]:
#Expressions
a = 4
b = 5
#Boolean expression
print(a == 4)
print(a == 5)
print(a == 4 and b == 5)
print(a == 4 and b == 8)
print()
#Non-boolean expression
print(a + b)
print(a + 2)
print(a * b)
print(((a * a) + (b * b)) / 2)
print("Python " + "Language")

True
False
True
False

9
6
20
20.5
Python Language

# **ตัวแปรและประเภทข้อมูล**

In [0]:
a, b = 1, 2
x = y = z = 10
print('a = ' , a)
print('b = ' , b)
print("x = " , x)
print("y = " , y)
print("z = " , z)

a =  1
b =  2
x =  10
y =  10
z =  10

In [0]:
#Numbers

#Integer ใช้ %d แสดงผลในรูปแบบ Stirng format กับฟังก์ชั่น print()
#การหารตัวเลขใน Python จะได้ค่าเป็น float เสมอ
a = 7
b = 3
c = a + b
d = a / b

print('a = %d' % a)
print('b = %d' % b)
print('c = %d' % c)
print('d = ' , d)

print()
#Float point number
speed = 34.12
pi = 22 / 7
height = 2.3E5
length = 1.3E-3

print('speed = %f' % speed)
print('pi = %f' % pi)
print('height = %f' % height)
print('length = %f' % length)
print(pi)

a = 7
b = 3
c = 10
d =  2.3333333333333335

speed = 34.120000
pi = 3.142857
height = 230000.000000
length = 0.001300
3.142857142857143

In [0]:
#Strings

name3 = "Rpmrugee"
country = "Thailand"
language = 'Python'
interest = 'Mountain Everest'

#ใช้เหมือนกันแต่

sentence1 = "What's your name?"
sentence2 = 'I\'m Romrugee'
sentence3 = "He said \"I would learn Python first\"."
sentence4 = 'His teach replied "Oh well!" '
print(sentence1)
print(sentence2)
print(sentence3)
print(sentence4)
print()

site = 'python' + '.com'
tutorial = 'Python' 'Languege'
print(site)
print(tutorial)

What's your name?
I'm Romrugee
He said "I would learn Python first".
His teach replied "Oh well!"

python.com
PythonLanguege

In [0]:
#Lists

#Declare lists
numbers = [1, 2, 4, 6, 8, 19]
names = ["RO", "RU", "GEE", "TH", "ONG"]
mixed = [-2, 5, 84.2, "Moutain", "Python"]
#Diaplay lists
print(numbers)
print(names)
print(mixed)

#Display lists using the for loops
for n in numbers:
    print(n, end = " ")
print()

for n in names:
    print(n, end= " ")
print()

for n in mixed:
    print(n, end= " ")
print()

[1, 2, 4, 6, 8, 19]
['RO', 'RU', 'GEE', 'TH', 'ONG']
[-2, 5, 84.2, 'Moutain', 'Python']
1 2 4 6 8 19
RO RU GEE TH ONG
-2 5 84.2 Moutain Python

In [0]:
languages = ["c", "C+", "Java", "Python", "PHP"]

print("Index at 0 = ", languages[0])
print("Index at 3 = ", languages[3])
languages[0] = "Scalar"
print("Index at 0 = ", languages[0])

Index at 0 =  c
Index at 3 =  Python
Index at 0 =  Scalar

In [0]:
import sys

a = 8
b = 13.4
c = "Python"
d = [1, 2, 3, 4]

print('Size of a = ', sys.getsizeof(a)) #function getsizeof() indent size in Byte
print('Type of a = ', type(a)) 

print('Size of b = ', sys.getsizeof(b))
print('Type of b = ', type(b))

print('Size of c = ', sys.getsizeof(c))
print('Type of c =', type(c))

print('Size of d = ', sys.getsizeof(d))
print('Type of d = ', type(d))
print()

del a           #ยกเลิกหรือลบการประกาศตัวแปรออกไปจากหน่วยความจำ
del b, c, d

if 'a' in locals():     #ตรวจสอบว่าตัวแปรถูกประกาศหรือยัง locals() ตรวจเฉพาะ module ปัจจุบัน ส่วน globals() ตรวจสอบตัวแปรในโปรแกรมทั้งหมด 
    print("a is exist")
else:
    print("a is not exist")

Size of a =  28
Type of a =  <class 'int'>
Size of b =  24
Type of b =  <class 'float'>
Size of c =  55
Type of c = <class 'str'>
Size of d =  96
Type of d =  <class 'list'>

a is not exist

#**การรับค่าและการแสดงผล**

In [0]:
#print() Function
print("Banana", "Apple", "Kiwi")
print("One")
print("Two")
print("Three")

print()

#print(value,...,sep='',end='\n'); ค่า default
print("Banana", "Apple", "Kiwi", sep=', ')
print("One", end=' ')
print("Two", end=' ')
print("Three", end=' ')

Banana Apple Kiwi
One
Two
Three

Banana, Apple, Kiwi
One Two Three

In [0]:
lang = "Python"
version = 3.8
print("%s language" % lang)
print("Version %f" % version)
print("%d" %123)
print("%s %f %d" % (lang, version, 123))

Python language
Version 3.800000
123
Python 3.800000 123

In [0]:
#Response in HTML 
print('<!DOCTYPE html>');
print('<html>');
print('<body>');
print('<h1> Welcome to Python </h1>');
print('</body>');
print('</html>');

In [0]:
#การรับค่าจาก Keybord ด้วย input()

#String
name4 = input("Enter your name: ")
print("Hello " + name4)

#Number
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
print("a + b = %d" % (a + b))

Enter your name: pp
Hello pp
Enter first number: 19
Enter second number: 32
a + b = 51

# **ตัวดำเนินการใน Python**

## **Assignment operator**

คือการกำหนดค่า ด้วย (=)

## **Arithmetic operator**

In [0]:
a = 5
b = 3
print("a * b = ", a * b)
print("a / b = ", a / b)
print("a ** b = ", a ** b)
print("a // b = ", a // b)
print("a % b = ", a % b)

a * b =  15
a / b =  1.6666666666666667
a ** b =  125
a // b =  1
a % b =  2

## **Comparison operators**

In [0]:
#Constant comparison
print('4 == 4 : ', 4 == 4)
print('1 < 2 : ', 1 < 2)
print('3 > 10 : ', 3 > 10)
print('2 <= 1.5 : ', 2 <= 1.5)
print()

#Variable comparison
a = 10
b = 8
print('a != b : ', a != b)
print('a - b == 2 : ', a - b == 2)
print()

e = 10
f = e
f = 20
print(e)
print(f)

4 == 4 :  True
1 < 2 :  True
3 > 10 :  False
2 <= 1.5 :  False

a != b :  True
a - b == 2 :  True

10
20

In [1]:
class Person:
    def __init__(self, name):
        self.name = name
    def setName(self, name):
        self.name = name
    def getName(self):
        return self.name

p1 = Person('Tommy')
p2 = Person('Jane')
#Tell p3 use memory address of p1
p3 = p1 #same object 

print('Memory address of a: ', id(p1)) #id() check memory of object
print('Memory address of b: ', id(p2))
print('Memory address of c: ', id(p3))

print('p1 name:', p1.getName())
print('p3 name:', p1.getName())

print('Changed p3 name to \'Tom\'') 
p3.setName('Tom')             #เปลี่ยนชื่อ p3 
print('p1 name:', p1.getName())
print('p3 name:', p3.getName()) 

print('p1 is p2:', p1 is p2)
print('p1 is p3:', p1 is p3)#same object with p1

Memory address of a:  139853835994224
Memory address of b:  139853835994168
Memory address of c:  139853835994224
p1 name: Tommy
p3 name: Tommy
Changed p3 name to 'Tom'
p1 name: Tom
p3 name: Tom
p1 is p2: False
p1 is p3: True

In [6]:
n = int(input("Enter a number : "))

if n % 2 == 0:
    print('%d is even number' % n)
else:
    print('%d is odd number' % n)
print()
if n > 0:
    print('%d is positive number' % n)
elif n == 0:
    print('%d is zero' % n)
else:
    print('%d is negative number' % n)

Enter a number : -1
-1 is odd number

-1 is negative number

## **Logical operators**
and / or / not

In [10]:
print('Log in page')
username = input('Username: ')
password = input('Password: ')

if (username == 'pone' and password == '1234'):
    print('Welcome Pone, you\'ve logged in.')
else:
    print('Invalid username or password.')

Log in page
Username: Pone
Password: 1234
Invalid username or password.

## **Bitwise operators**

In [11]:
a = 3 # 00000011
b = 5 # 00000101

print('a & b = ', a % b)
print('a | b = ', a | b)
print('a ^ b = ', a ^ b)
print('~a = ', ~a)
print('a << 1 = ', a << 1)
print('a << 2 = ', a << 2)
print('100 >> 1 = ', 100 >> 1)

a & b =  3
a | b =  7
a ^ b =  6
~a =  -4
a << 1 =  6
a << 2 =  12
100 >> 1 =  50

## **Sequence Operators**

In [12]:
names = ['Lemon', 'Ice-crame', 'Pizza', 'Coffee']

if 'Lemon' in names:
    print('\'Lemon\' exist in the list')
else:
    print('\'Lemon\' not exist in the name list')

if 'Hey' in names:
    print('\'Hey\' exist in the list')
else:
    print('\'Hey\' not exist in the name list')

numbers = {'1': 'one', '3': 'three', '2': 'two', '5': 'five'} #'Key':'Values'

if 'one' in numbers.values():
   print('\'one\' exist in the dictionary values')
else:
    print('\'one\' not exist in the dictionary values')
 
if '7' in numbers.keys():
    print('\'7\' exist in the dictionary keys')
else:
    print('\'7\' not exist in the dictionary keys')

'Lemon' exist in the list
'Hey' not exist in the name list
'one' exist in the dictionary values
'7' not exist in the dictionary keys

# **คำสั่งเลือกเงื่อนไข**

## **คำสั่ง if**

In [13]:
#if expression:
    # statements

n = 10
if n == 10:
    print('n equal to 10')

logged_in = False
if not logged_in:
    print('You must login to continue')

m = 4
if m % 2 == 0 and m > 0:
    print('m is even and positive numbers')

if 3 > 10:
    print('This block isn\'t executed')

n equal to 10
You must login to continue
m is even and positive numbers

## **คำสั่ง if else**

In [14]:
n = 5
if n == 10:
    print('n equal to 10')
else:
    print('n is something else except 10')

name = 'James'
if name == 'Mateo':
    print('Hi, Mateo.')
else:
    print('Who are you?') 

money = 300
if money >= 350:
    print('You can buy an iPad')
else:
    print('You don\'t have enough money to buy an iPad')

n is something else except 10
Who are you?
You don't have enough money to buy an iPad

## **คำสั่ง if elif**

In [15]:
print('Welcome to Py\'s game')
level = input('Enter level (1-4): ')

if level == '1':
    print('Easy')
elif level == '2':
    print('Medium')
elif level == '3':
    print('Hard')
elif level == '4':
    print('Expert')
else:
    print('Invalid level selected')

Welcome to Py's game
Enter level (1-4): 2
Medium

In [41]:
!pip install python-datetime-tz #install before import datetime cuz' not found
import datetime 
import math

#want to calculate time ago this date
#now = datetime.datetime(2017, 3, 29, 11, 00, 00)


#uncomment line below for current datetime object
now = datetime.datetime.now()

#creat a list and add all datetime(s)
#all dates that earlier than 'now' object
date_list = [];
date_list.append(datetime.datetime(2020, 2, 24, 14, 59, 24))
date_list.append(datetime.datetime(2020, 2, 24, 14, 12, 12))
date_list.append(datetime.datetime(2020, 2, 20, 17, 24, 54))
date_list.append(datetime.datetime(2020, 1, 14, 8, 43, 5))
date_list.append(datetime.datetime(2019, 8, 13, 19, 20, 20))
date_list.append(datetime.datetime(2015, 2, 8, 19, 20, 20))

print('Time ago to', end = ' ')
print(now.strftime("%B %d, %Y %I:%M:%S %p"))

for d in date_list:
    time_dif = (now - d).total_seconds()

    print(d.strftime("%b %d %Y %H:%M:%S %p"), ' => ', end = '')
    # calculate for time ago since d
    if time_dif < 60:
        print(math.floor(time_dif), 'secs ago')
    elif time_dif <= 3600:
        print(math.floor(time_dif / 60), 'mins ago')
    elif time_dif <= 86400:
        print(math.floor(time_dif / 3600), 'hours ago')
    elif time_dif <= 86400 * 30:
        print(math.floor(time_dif / 86400), 'days ago')
    elif time_dif <= 86400 * 365.25:
        print(math.floor(time_dif / (86400 * 30)), 'months ago')
    else:
        print(math.floor(time_dif / (86400 * 365.25)), 'years ago')

Requirement already satisfied: python-datetime-tz in /usr/local/lib/python3.6/dist-packages (0.5.4)
Requirement already satisfied: python-dateutil>=2.0 in /usr/local/lib/python3.6/dist-packages (from python-datetime-tz) (2.6.1)
Requirement already satisfied: pytz>=2011g in /usr/local/lib/python3.6/dist-packages (from python-datetime-tz) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.0->python-datetime-tz) (1.12.0)
Time ago to February 24, 2020 09:15:10 AM
Feb 24 2020 14:59:24 PM  => -20654 secs ago
Feb 24 2020 14:12:12 PM  => -17822 secs ago
Feb 20 2020 17:24:54 PM  => 3 days ago
Jan 14 2020 08:43:05 AM  => 1 months ago
Aug 13 2019 19:20:20 PM  => 6 months ago
Feb 08 2015 19:20:20 PM  => 5 years ago

## **Loop**

In [42]:
#while expression:
    # statements

i = 1

while i <= 10:
    print(i, end = ', ')
    i = i + 1

1, 2, 3, 4, 5, 6, 7, 8, 9, 10,

In [43]:
# decrease numbers by 5, start from 50
i = 50

while i >= 0:
    print(i, end = ', ')
    i = i - 5

# an empty line
print()

# print number series for 2n + 1
# where 1 <= n <= 10
n = 1

while n <= 10:
    print(2 * n + 1, end = ', ')
    n = n + 1

50, 45, 40, 35, 30, 25, 20, 15, 10, 5, 0,
3, 5, 7, 9, 11, 13, 15, 17, 19, 21,

In [44]:
number = []
MAX_INPUT = 10

# getting input into list
print('Enter %d numbers to the list' % MAX_INPUT)

i = 1
while i <= MAX_INPUT:
    print('Number %d: ' % i, end = '')
    n = int(input())
    number.append(n)
    i += 1

# displaying numbers from list
print('Your numbers in the list')

sum = 0

i = 1
while i <= MAX_INPUT:
    print(number[i - 1], end = ', ')
    sum += number[i - 1]
    i += 1

print('\nSum = %d' % sum)
print('Average = %f' % (sum / MAX_INPUT))

Enter 10 numbers to the list
Number 1: 12
Number 2: 13
Number 3: 14
Number 4: 15
Number 5: 16
Number 6: 17
Number 7: 18
Number 8: 19
Number 9: 20
Number 10: 21
Your numbers in the list
12, 13, 14, 15, 16, 17, 18, 19, 20, 21,
Sum = 165
Average = 16.500000

In [45]:
# loop through string
site = 'romrugee'
for n in site:
    print(n)

# loop through list
names = ['Banana', 'Coffee', 'Coconut', 'Apple', 'Orange']
for n in names:
    print(n)

numbers = [10, 20, 30, 40, 50, 60, 70, 80]
for n in numbers:
    print(n)

r
o
m
r
u
g
e
e
Banana
Coffee
Coconut
Apple
Orange
10
20
30
40
50
60
70
80

In [46]:
a = list(range(10)) #display index at 0 - 9
b = list(range(1, 11)) #(start, last index before the lastnum)
c = list(range(0, 30, 5))
d = list(range(0, -10, -1))

print(a)
print(b)
print(c)
print(d)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 5, 10, 15, 20, 25]
[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [47]:
for i in range(1, 11):
    print(i, end = ', ')

print()
for i in range(10, 0, -1):
    print(i, end = ', ')

print()
names = ['Banana', 'Coffee', 'Coconut', 'Apple', 'Orange']
for i in range(len(names)):
    print(names[i], end = ', ')

1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
10, 9, 8, 7, 6, 5, 4, 3, 2, 1,
Banana, Coffee, Coconut, Apple, Orange,

In [50]:
for i in range(1, 11):
    if i == 5:
        break
    print(i, end = ', ')

print()

for i in range(1, 11):   
    if i == 5:
        continue
    print(i, end = ', ')

1, 2, 3, 4,
1, 2, 3, 4, 6, 7, 8, 9, 10,

In [51]:
names = ['Banana', 'Coffee', 'Coconut', 'Apple', 'Orange']

search = 'Apple'
for n in names:
    if search == n:
        print(search + ' is found in list')
        break
else:
    print('Not found!')

search = 'Danny'
for n in names:
    if search == n:
        print(search + ' is found in list')
        break
else:
    print('Not found!')

Apple is found in list
Not found!

## **Function**