<a href="https://colab.research.google.com/github/roomrugee/demo/blob/master/Python_starting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **โครงสร้างภาษา Python**

In [0]:
#Simple Python Program
name =input('whatis you name? \n')
print ('Hi, %s.' %name)
print ('Welcome to Python.')

whatis you name?
Pone
Hi, Pone.
Welcome to Python.

In [0]:
#Statemennt มีหลายคำสั่งในบรรทัดเดียว
name1 = input('what is your name? \n')
print ('Hi, %s.' %name); print ('Welcome to Python.'); print ('Do you love it?')

what is your name?
Pone
Hi, Pone.
Welcome to Python.
Do you love it?

In [4]:
#Indentation and while space (if else for)
 n = int(input('Input an integer: '))
 if (n>0):
     print('x is positive number')
     print('Show number from 0 to %d' %(n-1))
else:
    print('x is\'t positive number') 
for i in range(n):
    print(i)

Input an integer: 12
x is positive number
Show number from 0 to 11
0
1
2
3
4
5
6
7
8
9
10
11

In [0]:
#Literals
a = 1
b = -1.64E3
c = True
d = "Python"
e = 'A'

In [14]:
#Expressions
a = 4
b = 5
#Boolean expression
print(a == 4)
print(a == 5)
print(a == 4 and b == 5)
print(a == 4 and b == 8)
print()
#Non-boolean expression
print(a + b)
print(a + 2)
print(a * b)
print(((a * a) + (b * b)) / 2)
print("Python " + "Language")

True
False
True
False

9
6
20
20.5
Python Language

# **ตัวแปรและประเภทข้อมูล**

In [0]:
a, b = 1, 2
x = y = z = 10
print('a = ' , a)
print('b = ' , b)
print("x = " , x)
print("y = " , y)
print("z = " , z)

a =  1
b =  2
x =  10
y =  10
z =  10

In [13]:
#Numbers

#Integer ใช้ %d แสดงผลในรูปแบบ Stirng format กับฟังก์ชั่น print()
#การหารตัวเลขใน Python จะได้ค่าเป็น float เสมอ
a = 7
b = 3
c = a + b
d = a / b

print('a = %d' % a)
print('b = %d' % b)
print('c = %d' % c)
print('d = ' , d)

print()
#Float point number
speed = 34.12
pi = 22 / 7
height = 2.3E5
length = 1.3E-3

print('speed = %f' % speed)
print('pi = %f' % pi)
print('height = %f' % height)
print('length = %f' % length)
print(pi)

a = 7
b = 3
c = 10
d =  2.3333333333333335

speed = 34.120000
pi = 3.142857
height = 230000.000000
length = 0.001300
3.142857142857143

In [15]:
#Strings

name3 = "Rpmrugee"
country = "Thailand"
language = 'Python'
interest = 'Mountain Everest'

#ใช้เหมือนกันแต่

sentence1 = "What's your name?"
sentence2 = 'I\'m Romrugee'
sentence3 = "He said \"I would learn Python first\"."
sentence4 = 'His teach replied "Oh well!" '
print(sentence1)
print(sentence2)
print(sentence3)
print(sentence4)
print()

site = 'python' + '.com'
tutorial = 'Python' 'Languege'
print(site)
print(tutorial)

What's your name?
I'm Romrugee
He said "I would learn Python first".
His teach replied "Oh well!"

python.com
PythonLanguege

In [0]:
#Lists

#Declare lists
numbers = [1, 2, 4, 6, 8, 19]
names = ["RO", "RU", "GEE", "TH", "ONG"]
mixed = [-2, 5, 84.2, "Moutain", "Python"]
#Diaplay lists
print(numbers)
print(names)
print(mixed)

#Display lists using the for loops
for n in numbers:
    print(n, end = " ")
print()

for n in names:
    print(n, end= " ")
print()

for n in mixed:
    print(n, end= " ")
print()

[1, 2, 4, 6, 8, 19]
['RO', 'RU', 'GEE', 'TH', 'ONG']
[-2, 5, 84.2, 'Moutain', 'Python']
1 2 4 6 8 19
RO RU GEE TH ONG
-2 5 84.2 Moutain Python

In [6]:
languages = ["c", "C+", "Java", "Python", "PHP"]

print("Index at 0 = ", languages[0])
print("Index at 3 = ", languages[3])
languages[0] = "Scalar"
print("Index at 0 = ", languages[0])

Index at 0 =  c
Index at 3 =  Python
Index at 0 =  Scalar

In [29]:
import sys

a = 8
b = 13.4
c = "Python"
d = [1, 2, 3, 4]

print('Size of a = ', sys.getsizeof(a)) #function getsizeof() indent size in Byte
print('Type of a = ', type(a)) 

print('Size of b = ', sys.getsizeof(b))
print('Type of b = ', type(b))

print('Size of c = ', sys.getsizeof(c))
print('Type of c =', type(c))

print('Size of d = ', sys.getsizeof(d))
print('Type of d = ', type(d))
print()

del a           #ยกเลิกหรือลบการประกาศตัวแปรออกไปจากหน่วยความจำ
del b, c, d

if 'a' in locals():     #ตรวจสอบว่าตัวแปรถูกประกาศหรือยัง locals() ตรวจเฉพาะ module ปัจจุบัน ส่วน globals() ตรวจสอบตัวแปรในโปรแกรมทั้งหมด 
    print("a is exist")
else:
    print("a is not exist")

Size of a =  28
Type of a =  <class 'int'>
Size of b =  24
Type of b =  <class 'float'>
Size of c =  55
Type of c = <class 'str'>
Size of d =  96
Type of d =  <class 'list'>

a is not exist

#**การรับค่าและการแสดงผล**

In [30]:
#print() Function
print("Banana", "Apple", "Kiwi")
print("One")
print("Two")
print("Three")

print()

#print(value,...,sep='',end='\n'); ค่า default
print("Banana", "Apple", "Kiwi", sep=', ')
print("One", end=' ')
print("Two", end=' ')
print("Three", end=' ')

Banana Apple Kiwi
One
Two
Three

Banana, Apple, Kiwi
One Two Three

In [28]:
lang = "Python"
version = 3.8
print("%s language" % lang)
print("Version %f" % version)
print("%d" %123)
print("%s %f %d" % (lang, version, 123))

Python language
Version 3.800000
123
Python 3.800000 123

In [0]:
#Response in HTML 
print('<!DOCTYPE html>');
print('<html>');
print('<body>');
print('<h1> Welcome to Python </h1>');
print('</body>');
print('</html>');

In [35]:
#การรับค่าจาก Keybord ด้วย input()

#String
name4 = input("Enter your name: ")
print("Hello " + name4)

#Number
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
print("a + b = %d" % (a + b))

Enter your name: pp
Hello pp
Enter first number: 19
Enter second number: 32
a + b = 51

# **ตัวดำเนินการใน Python**

## **Assignment operator**

คือการกำหนดค่า ด้วย (=)

## **Arithmetic operator**

In [37]:
a = 5
b = 3
print("a * b = ", a * b)
print("a / b = ", a / b)
print("a ** b = ", a ** b)
print("a // b = ", a // b)
print("a % b = ", a % b)

a * b =  15
a / b =  1.6666666666666667
a ** b =  125
a // b =  1
a % b =  2

## **Comparison operators**

In [39]:
#Constant comparison
print('4 == 4 : ', 4 == 4)
print('1 < 2 : ', 1 < 2)
print('3 > 10 : ', 3 > 10)
print('2 <= 1.5 : ', 2 <= 1.5)
print()

#Variable comparison
a = 10
b = 8
print('a != b : ', a != b)
print('a - b == 2 : ', a - b == 2)
print()

e = 10
f = e
f = 20
print(e)
print(f)

4 == 4 :  True
1 < 2 :  True
3 > 10 :  False
2 <= 1.5 :  False

a != b :  True
a - b == 2 :  True

10
20

In [46]:
class Person:
    def __init__(self, name):
        self.name = name
    def setName(self, name):
        self.name = name
    def getName(self):
        return self.name

p1 = Person('Tommy')
p2 = Person('Jane')
#Tell p3 use memory address of p1
p3 = p1 #same object 

print('Memory address of a: ', id(p1)) #id() check memory of object
print('Memory address of b: ', id(p2))
print('Memory address of c: ', id(p3))

print('p1 name:', p1.getName())
print('p3 name:', p1.getName())

print('Changed p3 name to \'Tom\'')
p3.setName('Tom')
print('p1 name:', p1.getName())
print('p3 name:', p3.getName()) 

print('p1 is p2:', p1 is p2)
print('p1 is p3:', p1 is p3)#same object with p1

Memory address of a:  140048691716840
Memory address of b:  140048691716672
Memory address of c:  140048691716840
p1 name: Tommy
p3 name: Tommy
Changed p3 name to 'Tom'
p1 name: Tom
p3 name: Tom
p1 is p2: False
p1 is p3: True